<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true"
      optimizeCompilations="true"
      numRecompilesBeforeAppRestart="1">
      <assemblies>
        <add assembly="System.Windows.Forms"/>
        <add assembly="Microsoft.ReportViewer.Common"/>
        <add assembly="Microsoft.ReportViewer.WinForms"/>
      </assemblies>
    </compilation>
    <webServices>
        <protocols>
            <add name="HttpSoap12"/>
            <add name="HttpSoap"/>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
   </webServices> 
   <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="50"/>
    </connectionManagement>
  </system.net>
</configuration>
